@import "../../vars.css";

.container_A {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;

  
  background-image: url("/assets/image/Reternofsoul_2.jpg");
  background-position: center;

  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: center center; 


}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;

  margin-top: 0px;
  margin-left: 0px;
  margin-right:0px;
  margin-bottom: 50px;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 120px;
  padding-right: 0px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutImage {
  width: 30%;
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
  
}

.aboutItem {
  display: flex;
  flex-direction: row;
  
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.42) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;


  
}


.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem h3 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 0px;
  margin-left: 0px;
  margin-right:0px;
  margin-bottom: 50px;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 80px;
  padding-right: 0px;
  
}

.aboutItem p {
  font-size: 25px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right:100px;
  margin-bottom: 0px;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 80px;
  padding-right: 0px;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
  
    margin-top: 0px;
    margin-left: 0px;
    margin-right:0px;
    margin-bottom: 10px;
  
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 80px;
    padding-right: 0px;
  }
  .aboutItem h3 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 0px;
    margin-left: 0px;
    margin-right:0px;
    margin-bottom: 50px;
  
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 0px;
    
  }
  .aboutItem p {
    font-size: 18px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right:0px;
    margin-bottom: 0px;
  
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content {
    flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
    margin-right:0px;
    margin-bottom: 50px;
  
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .aboutImage {
    display: none;
  }

  .aboutItems {
    margin-top: 29px;
  }

  .aboutItem {
    padding-left: 0;
    padding-right: 0;
  }
}
