.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/image/services-solutions.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* เพิ่มสไตล์สำหรับหัวข้อ */
.header {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.gridContainer {
  display: flex;
  flex-direction: row;
  gap: 0px;
  margin: 0px;
  flex-wrap: wrap;
}

/* ปรับสไตล์ของปุ่มให้เป็นสี่เหลี่ยม */
button {
  width: 260px;
  height: 260px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
  transition: background-color 0.3s, transform 0.3s; /* เพิ่ม transform เพื่อให้ปุ่มขยาย */
  z-index: 1; /* ตั้งค่าลำดับเริ่มต้นของปุ่ม */
}

/* สไตล์สำหรับรูปภาพในปุ่ม */
button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s;
}

/* ซ่อนรูปภาพเมื่อ hover */
button:hover img {
  opacity: 0;
  
}
/* ขยายปุ่มเมื่อ hover */
button:hover {
  transform: scale(1.1); /* ขยายปุ่ม */
  z-index: 10; /* เพิ่มลำดับของปุ่มให้สูงขึ้นเพื่อไม่ให้ถูกทับ */
}
/* สไตล์สำหรับข้อความ */
button span {
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s;
  text-align: center;
}

/* แสดงข้อความเมื่อ hover */
button:hover span {
  opacity: 1;
}
